<a href="https://colab.research.google.com/github/TanVshinde/Assignment-1-Tanvi-Shinde/blob/main/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment - 1
#Name: Tanvi Shinde
### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [ ]:
#int, float, String, boolean
age = 20

In [ ]:
height = 6.0

In [ ]:
name = "Priyanka"

In [ ]:
is_writer = True

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [ ]:
print("age :", age)

age : 20

In [ ]:
print("height :",height)

height : 6.0

In [ ]:
print("name :", name)

name : Priyanka

In [ ]:
print("Is writer:", is_writer)

Is writer: True

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [ ]:
print("data type of age is:", type(age))

data type of age is: <class 'int'>

In [ ]:
print("data type of height is:", type(height))

data type of height is: <class 'float'>

In [ ]:
print("data type of name is:", type(name))

data type of name is: <class 'str'>

In [ ]:
print("data type of is_writer is:", type(is_writer))

data type of is_writer is: <class 'bool'>

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [ ]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [ ]:
first_value=9
second_value=5

result= first_value - second_value
print(result)

4

In [ ]:
first_value=10
second_value=5

result= first_value*second_value
print(result)

50

In [ ]:
first_value=6
second_value=2

result=first_value/second_value
print(result)

3.0

In [ ]:
first_value= 4
second_value= 5

result= first_value+second_value
print(result)

9

## Example: Lists

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [ ]:
fruits[0]

'orange'

In [ ]:
fruits[1]

'apple'

In [ ]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [ ]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [ ]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [ ]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [ ]:
My_Friends= ['anju', 'neha','manisha', 'vidya', 'sonal', 'varsha']

In [ ]:
My_Friends[0]

'anju'

In [ ]:
My_Friends[1]

'neha'

In [ ]:
My_Friends[-1]

'varsha'

__Exercise 3 b)__ Print your list of names using different ranges

In [ ]:
My_Friends[0:6]

['anju', 'neha', 'manisha', 'vidya', 'sonal', 'varsha']

In [ ]:
My_Friends[1:5]

['neha', 'manisha', 'vidya', 'sonal']

In [ ]:
My_Friends[2:5]

['manisha', 'vidya', 'sonal']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [ ]:
len(My_Friends)

6

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [ ]:
My_Friends.append('Rashmi')

__Exercise 4 c)__ Print the list. Does it look as expected?

In [ ]:
print(My_Friends)

['anju', 'neha', 'manisha', 'vidya', 'sonal', 'varsha', 'Rashmi']

In [ ]:
# yes. it looks as expected.

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [ ]:
My_Friends.insert(2,'Kavya')

__Exercise 4 e)__ Print the list. Does it look as expected?

In [ ]:
print(My_Friends)

['anju', 'neha', 'Kavya', 'manisha', 'vidya', 'sonal', 'varsha', 'Rashmi']

In [ ]:
#yes, it looks as expected

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [ ]:
My_Friends.remove('neha')

__Exercise 4 g)__ Print the list. Does it look as expected?

In [ ]:
print(My_Friends)

['anju', 'Kavya', 'manisha', 'vidya', 'sonal', 'varsha', 'Rashmi']

In [ ]:
#yes, it looks as expected

# Example: For loops

In [ ]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [ ]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [ ]:
names= ["anju", "neha", "manisha", "vidya", "sonal", "varsha", "Rashmi","kavya"]
print(names)

['anju', 'neha', 'manisha', 'vidya', 'sonal', 'varsha', 'Rashmi', 'kavya']

__Exercise 5 b)__ Add a small change to each name in your list

In [ ]:
modified_names= [name + "_here" for name in names]
for modified_name in modified_names:
  print(modified_name)

anju_here
neha_here
manisha_here
vidya_here
sonal_here
varsha_here
Rashmi_here
kavya_here

# Example: Dictionaries

In [ ]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [ ]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [ ]:
capital= countries["denmark"]
print(capital)

copenhagen

In [ ]:
capital= countries["norway"]
print(capital)

oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [ ]:
countries["India"]= "New Delhi"
countries["China"]= "Beijing"
countries["USA"]= "washington"

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [ ]:
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'New Delhi', 'China': 'Beijing', 'USA': 'washington'}

In [ ]:
#yes, it looks as expected

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [ ]:
countries["sweden"]= "malmo"

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

In [ ]:
print(countries)

{'sweden': 'malmo', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'New Delhi', 'China': 'Beijing', 'USA': 'washington'}

In [ ]:
#yes, it looks as expected

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [ ]:
countries["sweden"]= "stockholm"
countries.pop("sweden")

'stockholm'

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [ ]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'New Delhi', 'China': 'Beijing', 'USA': 'washington'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [ ]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo
Country: India, Capital: New Delhi
Country: China, Capital: Beijing
Country: USA, Capital: washington

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

SyntaxError: ignored

We will start with creating a function that can add two numbers.

In [ ]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [ ]:
add_two_numbers(1,2)

3

In [ ]:
add_two_numbers(5,20)

25

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [ ]:
def Difference_betn_numbers (number1,number2):
  result= number1 - number2
  return result

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [ ]:
Difference_betn_numbers (789,639)

150

In [ ]:
Difference_betn_numbers(456,289)

167

In [ ]:
#yes, it returns the expected results

__Exercise 7 c)__ Create a function that can multiply two numbers

In [ ]:
def multiply_numbers(x, y):
  result= x*y
  return  result

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [ ]:
multiply_numbers (78, 56)

4368

In [ ]:
multiply_numbers(96786, 343536)

33249475296

In [ ]:
# yes, it returns the expected results

__Exercise 7 e)__ Create a function that can divide two numbers

In [ ]:
def divide_numbers(x,y):
  result= x/y
  return result

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [ ]:
divide_numbers (10,5)

2.0

In [ ]:
divide_numbers (100,75)

1.3333333333333333

In [ ]:
divide_numbers (45,9)

5.0

In [ ]:
# yes, it returns the expected results